:root {
	--main-bg-color: #4143b1;
	--second-bg-color: #221727;
	--second-bg-color-t: rgba(34, 23, 39, 0.8);
	--highlight-color: #5ef4d6;
	--second-highlight-color: #24e5a3;
	--text-color: #f1fff6;
	--main-font: 'Viga', sans-serif;
	--second-font: 'Rubik', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--second-font);
	color: var(--text-color);
}
.nav-items a {
	text-decoration: none;
	color: var(--text-color);
}
.nav-items li {
	list-style-type: none;
	margin: 2%;
}

nav {
	background-color: var(--second-bg-color);
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
}
.nav_item_container {
	display: flex;
	align-items: center;
}
.nav-items {
	display: flex;
}

.nav-items button {
	padding: 20%;
}
button {
	background-color: var(--highlight-color);
	text-transform: uppercase;
	color: var(--second-bg-color);
	border-radius: 3%;
	border: none;
}
.main-content {
	background: var(--main-bg-color) url(./images/mintbean-dome.png) no-repeat
		center / cover;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.learn_a_bit_info_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid var(--highlight-color);
	border-radius: 2%;
	width: 50%;
	margin: 15%;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 2%;
	text-align: left;
}
.learn_a_bit_info_box h3 {
	text-transform: uppercase;
	margin-bottom: 2%;
}
.learn_a_bit_info_box p {
	margin-top: 2%;
	margin-bottom: 2%;
}
.large_join_button {
	padding: 2%;
}
